
div {
    float: left;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    margin: 15px;
}

.clear {
    clear: left;
    background-color: bisque;
    width: 100%;
    height: fit-content;
    margin: 0;
}